:root {
    /* color */
    --color-yellow: rgb(254, 191, 51);
    --color-grey: rgb(155, 155, 155);
    --color-blue: rgb(41, 54, 254);
    --color-red: rgb(241, 60, 78);
    --color-green: rgb(46, 155, 101);

    /* font weight */
    --weight-medium: 800;
    --weight-semi-medium: 600;
    --weight-regular: 1rem;

    /* radius */
    --size-radius-large: 0.8rem;
    --size-radius-medium: 0.5rem;
    --size-radius-regular: 0.3rem;

    /* animation */
    --animation-duration: 300ms;

    /* font size */
    --font-large: 1.8rem;
    --font-semi-large: 1.6rem;
    --font-medium: 1.4rem;
    --font-semi-medium: 1.2rem;
    --font-regular: 1rem;
    --font-small: 0.9rem;
    --font-micro: 0.8rem;



    /* test border */
    --test-border: red 0.1rem solid;
}

/* universal tags */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "fontello";
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------ */

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: var(--test-border);
}